@use "../../../styles/mixins" as *;

.nav {
    &__list {
        list-style: none;
        display: flex;
        gap: 30px;

        @include tablet {
            flex-direction: column;
            align-items: center;
        }
    }
    &__item {
        font-weight: 600;
        font-size: 1.7rem;

        a {
            color: #8e8e91;
            text-decoration: none;
        }

        .active {
            color: #2a2a2c;
        }
    }
}
